.wrapper {
  background-color: white;
  color: #1b2f41;
  font-family: Arial, sans-serif;
}

.head {
  background: #1b2f41;
  height: 20%;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.navbar-custom {
  font-family: "Averia Serif Libre";
  font-weight: bold;
  font-size: 1.3em;
}

.head img {
  float: left;
  width: 200px;
  height: 50px;
}

.head h1 {
  position: relative;
  color: white;
  text-align: center;
}

body {
  background-image: url("../images/207.jpg");
  position: relative;
  height: 75%;
  width: 100%;
}

#menus {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#menus td,
#menus th {
  border: 1px solid #ddd;
  padding: 8px;
}

#menus tr:nth-child(even) {
  background-color: #fde7e9;
}

#menus tr:hover {
  background-color: #ddd;
}

#menus th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1b2f41;
  color: white;
}

#lists {
  background-color: silver;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}
#footer {
  position: relative;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 15%;
  font-size: 12px;
  text-align: center;
  background-color: #f67280;
  color: white;
}

#footer img {
  width: 80px;
  height: 20px;
}
