.wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Averia Serif Libre";
}
.container {
  max-width: 3000px !important;
}
.navbar-custom {
  font-family: "Averia Serif Libre";
  font-weight: bold;
  font-size: 1.3em;
}
.col-sm-12 {
  padding: 0px !important;
}
.head {
  background-color: #1b2f41;
  color: #fdfdfd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.head h1 {
  text-align: center;
  margin: 20px;
}
.head img {
  margin: 20px;
}
#info {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin: 20px;
  overflow: auto;
}
#info h3 {
  flex-direction: column;
  display: flex;
  border-bottom: solid 1px;
  margin: 20px;
  border-top: solid 1px;
}
#info p {
  text-align: center;
  border-bottom: solid 1px;
  padding-bottom: 50px;
}
#info img {
  border-radius: 25px;
  margin-top: 60px;
  width: 100%;
  max-width: 400px;
}
#info br {
  display: none;
}
#menus {
  display: flex;
  border-collapse: collapse;
  border-spacing: 0 1em;
  margin: 50px;
  overflow: scroll;
  width: 100%;
}
#menus th {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}
#menus td {
  padding: 20px;
  border-left: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
}
#menus td:first-child {
  border-left: none;
}

#menus td:last-child {
  border-right: none;
}
#allergens {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#allergens h3 {
  border-bottom: solid 1px;
  margin: 20px;
  border-top: solid 1px;
}
#allergens p {
  text-align: center;
}
#allergens br {
  display: none;
}
#lists {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  background-color: #1b2f41;
  color: #f1f1f1;
  width: 100%;
  margin-top: 20px;
}
#lists li {
  list-style-type: none;
}
#lists p {
  border-bottom: solid 1px;
  margin: 20px;
  font-size: 13px;
  border-top: solid 1px;
}
